version: '3.8'

services:
  server:
    build:
      context: .
      dockerfile: dockerfile.server
    volumes:
      - ./data:/app/data
    networks:
      - mynet
    entrypoint: [ "/app/entrypoint.sh" ]

  client:
    build:
      context: .
      dockerfile: dockerfile.client
    depends_on:
      - server
    volumes:
      - ./data:/app/data
    networks:
      - mynet

  tests:
    build:
      context: .
      dockerfile: dockerfile.tests
    volumes:
      - ./data:/app/data
    networks:
      - mynet

networks:
  mynet:
